body {
  font-family: "Open Sans", sans-serif;
}

/* header section */

.text-prime {
  color: #FD6E0A;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  color: #181818;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
  color: #474747;
  font-size: 20px;
  font-weight: 600;
}

.btn-prime {
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
  border: none;
}

.header {
  background-color: #FFF8F3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  margin: 0 100px 0 200px;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  color: #717171;
  font-size: 45px;
  margin-bottom: 0px;
}

.banner-name {
  color: #242424;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 5px;
}

.banner-description {
  color: rgba(117, 117, 117, 1);
  margin-bottom: 30px;
}

/* main section */
main{
  max-width: 1300px;
  margin: 0 auto;
}

.about-section {
  background-color: rgba(255, 248, 243, 1);
  padding: 110px 150px;
  margin-top: 130px;
}

.section-title {
  color: rgba(24, 24, 24, 1);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin: 30px 150px;
}
.what-i-do-section{
  margin-top: 130px;
}
.section-description {
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 30px 30px;
}
#what-i-do-description{
  margin: 30px 150px;
}

.about-info-container{
  display: flex;
  justify-content: space-around;
}

.about-info-title {
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.info-description {
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}
.skill-container{
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
.skill-info{
  padding: 30px;
  background-color: white;
  box-shadow: 0px 5px 50px 0px rgb(0,0, 0, 0.06);
  border-radius: 5px;
}
.skill-title{
  color: black;
  font-weight: 800;
  font-size: 15px;
}
.skill-description{
  color: rgba(117, 117, 117, 1);
  padding:0px 20px 0px 0px;
}
.resume-section{
  margin-top: 130px;
  margin-bottom: 110px;
}

.resume-container{
  display: flex;
  gap: 50px;
}
.container-title{
  font-size: 30px;
  font-weight: 700;
  color: rgba(71,71,71,1);
}
.container-subject{
  font-size: 25px;
  font-weight: 700;
  color: rgba(71,71,71,1);
  margin-bottom: 0px;
}
.container-company{
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0px;
}
.resume-description{
  color: rgba(117, 117, 117, 1);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
.download-cv{
  text-align: center;
  margin-top: 80px;
}
.footer-column{
  width: 50%;
}
footer{
  background: rgba(255, 248, 243, 1);
  display: flex;
  padding: 130px 230px;
  gap: 100px;
}
.contact input[type="text"], input[type="email"],textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  width: 80%;
  color: #757575;
  border-radius: 5px;
  border: none;
  background-color: white;
}
.resume-column{
  font-size: 35px;
  font-weight: 700;
}
footer p{
  color: rgba(71,71,71,1);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-icons a{
  margin-right: 24px;
}